<div class="row anime-list__row" ng-repeat="row in vm.animeRows">
    <div class="col-md-4" ng-repeat="anime in row">
        <div class="anime-card">
            <div class="anime-title">
                <a class="text-uppercase"
                   ng-href="/#/detail/{{ anime.id }}">
                    {{ anime.name }}
                </a>
                <div class="rating pull-right">
                    <rating class="text-warning"
                            ng-model="anime.rating"
                            readonly="true"></rating>
                </div>
            </div>

            <div class="anime-content">
                <p ng-show="anime.comment">{{ anime.comment }}</p>
                <ul class="links list-inline">
                    <li ng-repeat="link in anime.links">
                        <a ng-href="{{ link.url }}"
                           target="_blank">
                            <span class="glyphicon glyphicon-link"></span>
                            {{ link.name }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="anime-tags">
                <span class="label label-default"
                      ng-repeat="tag in anime.tags"
                      ng-hide="!anime.tags.length">{{ tag.name }}</span>
                <span class="text-muted"
                      ng-show="!anime.tags.length">there are no tags</span>
            </div>
        </div>
    </div>
</div>