<div class="form-group">
    <label>Name</label>
    <input type="text"
           name="name"
           class="form-control"
           ng-model="anime.name"
           validator="required">
</div>
<div class="form-group">
    <label>Rating</label>
    <select name="rating"
            class="form-control"
            ng-model="anime.rating"
            ng-options="value for value in [] | range:1:6"
            validator="required">
        <option></option>
    </select>
</div>
<div class="form-group">
    <label for="anime-name">Comment</label>
    <textarea name="comment"
              class="form-control"
              rows="3"
              ng-model="anime.comment"></textarea>
</div>