<div class="form-group">
    <label>Name</label>
    <input type="text"
           name="name"
           class="form-control"
           ng-model="vm.anime.name"
           validator="required">
</div>
<div class="form-group">
    <label>Rating</label>
    <select name="rating"
            class="form-control"
            ng-model="vm.anime.rating"
            ng-options="value for value in [] | range:1:6"
            validator="required">
        <option></option>
    </select>
</div>
<div class="form-group">
    <label>Comment</label>
    <textarea name="comment"
              class="form-control"
              rows="3"
              ng-model="vm.anime.comment"></textarea>
</div>
<div class="form-group">
    <label>Tags</label>
    <tags-input name="tags"
                ng-model="vm.tags">
        <auto-complete source="vm.filterTags($query)"></auto-complete>
    </tags-input>
</div>