<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ vm.anime.name }}
                    <rating class="text-warning"
                            ng-model="vm.anime.rating"
                            readonly="true"></rating>
                    <div class="btn-group pull-right">
                        <button type="button"
                                class="btn btn-primary btn-sm"
                                ng-click="vm.editForm.toggle()">
                            <span class="glyphicon glyphicon-edit pull-right"></span>
                        </button>
                        <button type="button"
                                class="btn btn-primary btn-sm"
                                ng-click="vm.deleteAnime()">
                            <span class="glyphicon glyphicon-remove pull-right"></span>
                        </button>
                    </div>
                </h3>
            </div>
            <div class="panel-body">
                <p>Comment: <strong>{{ vm.anime.comment }}</strong></p>
            </div>
        </div>

        <form class="well"
              name="animeForm"
              novalidate
              ng-show="vm.editForm.isShown">

            <div ng-include="'static/js/app/views/anime-form.html'"></div>

            <alert close="editForm.hideAlert()"
                   type="{{ vm.editForm.alert.type }}"
                   ng-show="vm.editForm.alert">{{ vm.editForm.alert.msg }}</alert>

            <button type="submit"
                    class="btn btn-default"
                    validation-submit="animeForm"
                    ng-click="vm.editForm.submit()">Edit</button>

            <button type="button"
                    class="btn btn-default"
                    ng-click="vm.editForm.toggle()">Cancel</button>
        </form>
    </div>
</div>