@import "../../static/bower_components/bootstrap/less/bootstrap";
@import "boostrap-theme/bootswatch";
@import "boostrap-theme/variables";
@import "../../../static/bower_components/angular-loading-bar/build/loading-bar.css";
@import "../../../static/bower_components/ng-tags-input/ng-tags-input.css";
@import "../../../static/bower_components/ng-tags-input/ng-tags-input.bootstrap.css";

@icon-font-path: "../../../static/bower_components/bootstrap/fonts/";

:focus {
  outline: none !important;
}

.ng-invalid.ng-dirty {
  .has-error .form-control;
}

label.has-error.control-label {
  .has-error .control-label;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: none;
}

#loading-bar .bar {
  background: #18bc9c;
  height: 5px;
}

#loading-bar-spinner .spinner-icon {
  border-top-color: #18bc9c;
  border-left-color: #18bc9c;
  width: 20px;
  height: 20px;
}