@import "../../static/bower_components/bootstrap/less/bootstrap";
@import "boostrap-theme/bootswatch";
@import "boostrap-theme/variables";
@import "../../../static/bower_components/angular-loading-bar/build/loading-bar.css";
@import "../../../static/bower_components/ng-tags-input/ng-tags-input.css";

@icon-font-path: "../../../static/bower_components/bootstrap/fonts/";

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: none;
}

.form-control.has-error {
  border: 2px solid @brand-danger;
}

.help-block.has-error {
  color: @brand-danger;
}

textarea {
  resize: vertical;
}

#loading-bar .bar {
  background: #18bc9c;
  height: 5px;
}

#loading-bar-spinner .spinner-icon {
  border-top-color: #18bc9c;
  border-left-color: #18bc9c;
  width: 20px;
  height: 20px;
}

.links-mini-form:first-of-type {
  margin-top: 0;
}

.links-mini-form {
  margin-top: 20px;

  .input-top {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .input-bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  button {
    border-top-right-radius: 0;
  }
}

.rating-container {
  font-size: 22px;

  span {
    &:focus {
      outline: none;
    }
  }
}
tags-input {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

  .tags {
    .form-control;

    font-size: 24px;
    padding: 2px;
    height: 100%;

    .tag-item {
      .label;
      .label-info;

      background: @brand-info;
      height: auto;
      border: none;
      line-height: 25px;
      margin: 2px;

      .remove-button {
        color: #fff;

        &:active {
          color: @gray;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }

    .tag-item.selected {
      background: @brand-warning;
      color: #fff;
      border: none;
    }

    .input {
      font-size: 18px;
      margin: 4px;
      width: 6px;
    }

    .input.invalid-tag {
      color: @brand-danger;
    }
  }

  .tags.focused {
    border: 2px solid @brand-primary;
    box-shadow: none;
  }
}

tags-input.ng-invalid {
  .tags {
    box-shadow: none;
  }
}